<!DOCTYPE html>
<html>
    <head>
        <link href="/assets/styles.css" rel="stylesheet">
    </head>
    <body>
        <%- include('partials/nav'); %>
        <h1>Welcome</h1>
        <p>Test content</p>
    </body>
</html>